body {
  color: rgb(205, 197, 197);
  font-family: 'Dancing Script', cursive;
}

.text-block {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    margin: 0;
  }
}

.intro {
  background-image: url("./../img/1.jpg");
  padding: 60px 20px;
  position: relative;
  background-position: 50% 20%;
  z-index: 2;
  margin-bottom: 30px;

  @media screen and (min-width: 461px) {
    margin-bottom: 60px;
  }

  h1 {
    margin: 0;
    z-index: 2;
    text-shadow: 2px 2px #bdbdb352;
    line-height: 40px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: -1;
  }
}

.intro h1 {
  font-family: 'Pacifico', cursive;
  font-size: 48px;
  margin-bottom: 20px;
}

.intro p {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  margin-bottom: 10px;
}

.wrapper {
  background-color: rgb(25, 20, 20);
}

.text-block {
  div {
    display: flex;
    gap: 20px;
  }

  .title {}

  .text {
    font-weight: 700;
  }
}

.photo {
  padding: 60px 20px;

  div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;

    @media screen and (min-width: 800px) {
      grid-template-columns: 1fr 4fr;
    }

    p {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .btn {
    background-color: rgb(84, 73, 70);
    border-radius: 10px;
    font-weight: 700;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;

    @media screen and (max-width: 460px) {
      text-align: center !important;
      margin-bottom: 20px;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    height: 100%;

    border-radius: 5px;

    @media screen and (max-width: 460px) {
      max-height: 300px;
    }

    @media screen and (min-width: 461px) {
      max-height: 390px;
    }
    @media screen and (min-width: 1000px) {
      max-height: 270px;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (max-width: 460px) {
      align-items: center;
    }

    h2,
    p {
      margin: 0;
    }
  }

  text-align: right;
  height: auto;

  @media screen and (max-width: 460px) {
    text-align: center;
  }

}

.photo-reverse {
  padding: 20px;

  img {
    order: -1;
    height: 100%;

    @media screen and (max-width: 460px) {
      order: 2;
    }
  }

  div {
    grid-template-columns: 2fr 1fr;

    @media screen and (min-width: 800px) {
      grid-template-columns: 4fr 1fr;
    }

    img {
      object-position: 20% 20%;
    }
  }

  .text {
    align-items: flex-start;

    @media screen and (max-width: 460px) {
      align-items: center;
    }
  }

  text-align: left;

  @media screen and (max-width:460px) {
    text-align: center;
  }
}

.photo .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @media screen and (max-width: 460px) {
    align-items: center;
  }
}

.photo .text-flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.photo {
  div {
    @media screen and (max-width: 460px) {
      display: flex;
      flex-direction: column;
    }
  }


}

.modal__description {
  a {
    color: rgb(204, 191, 191);
    text-shadow: 2px 2px #bdbdb352;

  }

  color: rgb(241, 234, 234);
}

.modal__content {
  background-color: rgb(133, 114, 110);
  border-radius: 10px;
}

.photo {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: rgba(133, 114, 110, 0.488);
    top: 0;
    left: 20%;
    right: 20%;
  }

  padding: 30px 20px;
  @media screen and (min-width: 461px) {
    padding: 60px 20px;
  }
}

.photo {
  /* Другие стили */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
}

.animate-photo {
  opacity: 1;
  visibility: visible; /* Делаем элемент видимым */
}
